*{
    margin:0;
    padding: 0;
}

:root{
    --theme-color: rgb(224, 0, 231)
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}



/* ------- HEADER ------------ */
#particles-js{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.808);
    /* background-color: black; */
}

.particles-js-canvas-el{
    margin-top: -10rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
    position: relative;
    width: max-content;
    height: 10%;
    color: white;
    margin: 0 auto;
    top: 40%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
}

.intro-text > a > button{
    cursor: pointer;
    padding: 10px 15px;
    width: 30%;
    margin: 1rem auto;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    transition-property: background-color border;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.intro-text > a > button:hover{
    background-color: var(--theme-color);
    border:1px solid var(--theme-color);
}

.intro-text > span > span{
    color:var(--theme-color);
    font-weight: 700;
}

.social-links{
    display:flex;
    margin: auto;
    width: 20%;
    justify-self: center;
}

.social-links > *{
    cursor: pointer;
    list-style: none;
    margin: auto;
    color: white;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.social-links > *:hover{
    color: var(--theme-color)
}

.social-links > a > i{
    font-size: 35px !important;
}

@media (max-width:1024px){
    .intro-text > a > button{
        background-color: var(--theme-color) !important;
        border: none;
        color: white !important;
    }
}

@media (max-width:650px){
    .intro-text{
        font-size: 35px;
    }
}

@media (max-width: 500px){
    .intro-text{
        font-size: 22px;
        height: 20%;
    }

    .social-links{
        width: 70%;
    }

    .intro-text > a > button{
        width: 70%;
    }
}

@media (max-width:330px){
    .intro-text{
        font-size: 18px;
    }
}

/* -------HEADER ---------- */

/* ---------NAVBAR ------- */

nav{
    background-color: rgb(32, 32, 32);
    border-bottom: 3px solid var(--theme-color);
    position: sticky;
    top:0;
    z-index: 1;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.nav-links{
    display:flex;
    list-style: none;
    /* height: 60px; */
    width: 40%;
}

.nav-links > a{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin:auto;
    text-decoration: none;
    /* flex-grow: 1; */
}

.active-link{
    color: var(--theme-color) !important;
    font-family: 'Raleway', sans-serif;
    margin:auto;
    text-decoration: none;
    transition: color 300ms ease-in;
}

.toggle-button{
    position: absolute;
    right:2%;
    top: 35%;
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.toggle-button > *{
    background-color: white;
    width: 100%;
    height: 3px;
}

.first-bar, .last-bar{
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}

.middle-bar{
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

@media (max-width:1024px){
    .nav-links{
        width: 70%;
    }
}

@media (max-width: 768px){
    .nav-links{
        width: 100%;
    }
}

@media (max-width: 530px){
    .toggle-button{
        display: flex;
    }

    .toggle-button.show{
        top: 40%;
    }

    .nav-links{
        display:none;
    }

    .first-bar.show{
        position: absolute;
        transform: rotate(45deg);  
    }
    .last-bar.show{
        position: absolute;
        transform: rotate(-45deg);
    }
    .middle-bar.show{
        opacity: 0;
    }

    nav > .nav-links.show{
        height: 250px;
    }

    .nav-links{
        top: 0;
        transition: top 200ms ease-in-out;
    }

    .nav-links.show{
        transform: translateY(0px);
        background-color: rgb(48, 48, 48);
        position: absolute;
        top: 63px;
        display: flex;
        flex-direction: column;
    }

    .nav-links > a {
        flex-grow: 1;
        margin-top: 10px;
    }
}

/* -------NAVBAR-------- */

/* ------PROJECTS------- */

#projects{
    margin: 0 auto 3rem auto;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    width: 70%;
    overflow-x: hidden !important;
}

.header{
    margin: 5rem auto 3rem auto;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--theme-color);
    color: rgba(0, 0, 0, 0.808);
}

.project-container{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3rem;
    width: 100%;
}

.project-image{
    height: 90%;
    width:90%;
    margin:auto;
}
.project-images-container{
    margin-top: -5rem;
    margin-left:auto;
    position: relative;
    display: block;
    width: 100%;
}

.link-to-code{
    margin: auto;
    width: 50%;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid var(--theme-color);
    color: black;
    transition: all 200ms ease-in-out;
}

.link-to-code:hover{
    background-color: var(--theme-color);
    border:1px solid var(--theme-color);
    color: white;
}

.project-phone-image{
    position: absolute;
    right:0;
    bottom: 25%;
    height: 40%;
    width: 40%;
    padding: 0px 0px 0px 0px;
}

.project-description{
    text-align: center;
    margin-left: auto;
    width: 90%;
    height: 90% !important;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 0.5rem;
}

.project-description-header{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}


.project-description-paragraph{
    padding: 10px;   
}

.project-description-technologies{
    display: flex;
    width: 100%;
}

.project-description-technologies > *{
    margin:auto;
}

.icon{
    height: 35px;
    width: 35px;
}

.react-icon{
    background-color: rgb(0, 174, 255) !important;
    border-radius: 5px;
}

p{
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.808)
}

.from-left{
    transform: translateX(-30%)
}

.from-right{
    transform: translateX(30%)
}

.slider{
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.slider.appear{
    opacity: 1 !important;
    transform: translateX(0);
}

.fader{
    opacity: 0;
    transform: translateY(-30%);
    transition: all 350ms ease-in-out
}

.fader.fade-in{
    opacity: 1;
    transform: translateY(0)
}

hr{
    width: 40%;
    margin: 3rem auto 0 auto;
}

@media (max-width: 1024px){
    #projects{
        width:88%;
    }

    .project-images-container{
        margin-top: 0;
    }

    .link-to-code{
        position: relative;
        background-color: var(--theme-color) !important;
        border: none;
        color: white !important;
    }

}

@media (max-width: 768px){

    .project-container{
        grid-template-columns: 100%;
    }

    .project-images-container{
        margin-top: -8rem;
    }

    .project-description, .project-images-container{
        margin-left: auto;
        margin-right: auto;
    }

    .project-description{
        margin: -6rem auto 0 auto;
    }

    .project-description-header{
        font-size: 35px;
    }

    #projects > .header{
        font-size: 35px;
        margin: 5rem auto 0 auto;
    }

    .link-to-code{
        margin-top: 1rem;
    }
}

@media (max-width: 650px){
    .project-container{
        margin-top: 6rem;
        row-gap: 1rem;
    }
}

@media (max-width: 500px){
    .project-container{
        margin-top: 8rem;
        row-gap: 3rem;
    }

    .header{
        font-size: 27px !important;
        margin-top: 3rem !important;
    }

}


/* -----PROJECTS ------ */

/* -----SKILLS----- */
#skills{
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    overflow-x: hidden !important;
}

.skills-grid{
    width: 70%;
    margin: 0px auto 3rem auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 2rem;
}

.skills-grid > div{
    display: grid;
    grid-template-columns: 100%;
}

.skills-grid > div > *{
    margin: 0 auto;
}

.skill-icon{
    height: 70px;
    width: 70px;
}

@media (max-width:1024px){
    .skills-grid{
        width: 100%;
    }
}

@media (max-width:500px){
    .skills-grid{
        grid-template-columns: 33% 33% 33%;
    }
}
/* ----SKILLS---- */

/* ----ABOUT---- */
#about{
    margin: 0px auto 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    overflow-x: hidden !important;
}

.soft-skills{
    overflow-x: hidden;
    width: 70%;
    margin: 0 auto 3rem auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.soft-skills > div{
    display: flex;
    flex-direction: column;
}

.soft-skills > div > img{
    height:80px;
    width:80px;
}

.soft-skills > div > p{
    color: var(--theme-color);
    text-align: center;
}

.soft-skills > div > *{
    margin: auto;
}

.about-paragraph{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.sub-header{
    font-size: 25px !important;
    margin-top: 3rem !important;
}

.about-paragraph > span{
    color: var(--theme-color);
}

.education-grid{
    margin: 0 auto 5rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
}

.education-image{
    height:120px;
    width: 120px;
}

.education-container{
    display: grid;
    grid-template-columns: 100%;
}

.education-image-jago{
    height: 120px;
    width: 200px;
}

.education-container > *{
    margin: 0 auto;
}

.education-container > p{
    text-align: center;
}

@media (max-width: 700px){
    .soft-skills{
        width: 90%;
    }

    .soft-skills > div > img{
        width: 60px;
        height: 60px;
    }

    .education-grid{
        width: 100%;
    }
}

@media (max-width: 520px){

    .soft-skills{
        grid-template-columns: 50% 50%;
        row-gap: 1rem;
    }

    .education-grid{
        grid-template-columns: 100%;
    }

    .about-paragraph{
        width: 90%;
    }
}

/* ----EDUCATION---- */

/* ----CONTACT---- */
#contact{
    background-color: rgb(56, 56, 56);
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    overflow-x: hidden !important;

}

#contact > h1{
    color: white !important;
}

#contact > p{
    color: white;
    margin: 0 auto 1rem auto;
}

.contact-form{
    margin:0 auto 6rem auto;
    display:flex;
    flex-direction: column;
    width: 30%
}

.contact-form > *{
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    margin-top: 3px;
    font-size: 17px;
}

.contact-form > *::placeholder{
    color: white;
    opacity: 0.5;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact-form > textarea{
    padding-bottom: 80px;
}
.contact-form > button{
    cursor: pointer;
    transition: background-color 200ms ease-in;
}
.contact-form > button:hover{
    background-color: var(--theme-color);
}

@media (max-width:1024px){
    .contact-form{
        width:60%;
    }

    .contact-form > button{
        background-color: var(--theme-color);
    }
}

@media (max-width: 500px){
    .contact-form{
        width: 80%;
    }
}
/* ----CONTACT---- */

/* ----FOOTER---- */
.footer{
    padding: 1rem 0px;
    background-color: rgb(32, 32, 32);
    display:flex;
}

.footer > p{
    color: white !important;
    margin: auto;
}


